<div class="container">
    <button mat-button color="primary" (click)="onBackClick()">Go Back</button>
    <button mat-button color="primary" *ngIf="isAdmin()" (click)="onEditProject()">Edit</button>
    <mat-card>
        <div class="content" *ngIf="!isLoading">

            <div class="heading">
                <h5>Category: {{ project.category }}</h5>
                <h5 class="right">Featured: {{ project.featured }}</h5>
            </div>

            <h1>{{ project.title }}</h1>
            <h2>{{ project.subtitle }}</h2>
            <h5>{{ project.dateCreated | date }}</h5>

            <hr>


            <div class="links">
                <h5 class="small-bottom-spacer">Project Links:</h5>
                <a *ngFor="let link of project.links" href="{{ link.url }}" target="_blank">{{ link.name }}</a>
            </div>
            <br>

            <div class="technology">
                <h5>Technologies used:</h5>
                <img *ngFor="let tech of project.technologies" src="{{ tech.src }}" alt="{{ tech.name }}" matTooltip="{{ tech.name }}" width="40" height="40">
            </div>


            <div class="description">
                <h5>Description:</h5>
                <p>{{ project.description }}</p>
            </div>


            <div class="images" *ngFor="let image of project.images">
                <a href="{{ image.src }}" target="_blank"><img src="{{ image.src }}" alt="{{ image.name }}" height="{{ image.height }}" width="{{ image.width }}"></a>
                <figcaption>{{ image.caption }}</figcaption>
            </div>

        </div>
    </mat-card>
</div>