<div class="container">
    <mat-card>
        <h3>Change Password</h3>
        <form [formGroup]="changePasswordForm">

            <mat-form-field>
                <input matInput formControlName="password" type="password" placeholder="New Password">
                <span *ngIf="!changePasswordForm.get('password').valid && changePasswordForm.get('password').touched" class="helpBlock">Please enter a password.</span>
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="verifyPassword" type="password" placeholder="Verify Password">
                <span *ngIf="!changePasswordForm.get('verifyPassword').valid && changePasswordForm.get('verifyPassword').touched" class="helpBlock">Please enter password again.</span>
            </mat-form-field>


            <button mat-raised-button class="white" color="primary" [disabled]="isLoading" (click)="onChange()"><mat-spinner *ngIf="isLoading" diameter="20" class="seashell-spinner"></mat-spinner>Change Password</button>
            <p *ngIf="Error" class="helpBlock">{{ ErrorText }}</p>
        </form>
    </mat-card>
</div>