.container {
    position: fixed;
    top: 0;
    width: 100%;
}

mat-toolbar {
    height: 60px;
    background-color: rgba(63, 81, 181, 0.97);
    color: white;
}

.white {
    color: white;
}

img {
    padding: 0;
    margin: 0px 0px 7px 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

a {
    font-size: 12pt;
    font-weight: lighter;
}

.menu-spacer {
    flex: 1 1 auto;
}

.mobileMenu {
    background-color: #222222;
}

.mobile {
    display: none;
}

.mobile .mat-icon {
    position: absolute;
    top: -25px;
    font-size: 35px;
}

@media (max-width: 550px) {
    .mainMenu {
        display: none;
    }
    .mobile {
        display: block;
    }
}