<div class="container">

    <mat-toolbar color="primary">
        <ul>
            <li>
                <a mat-button routerLink="/">
                    <img src="/assets/built-in-images/archive-white.png" alt="The Archive" height="26">
                </a>
            </li>
            <li>
                <a mat-button routerLink="/">
                Featured
            </a>
            </li>
            <li>
                <a mat-button routerLink="/projects">
                All Projects
            </a>
            </li>
        </ul>

        <span class="menu-spacer"></span>

        <ul>
            <li>
                <a mat-button routerLink="/api">
                API
            </a>
            </li>
            <li>
                <a mat-button href="https://github.com/theclayton/the-archive" target="_blank">
                Source
            </a>
            </li>
        </ul>

        <button mat-button [matMenuTriggerFor]="accountMenu">
        <mat-icon>account_circle</mat-icon>
    </button>
        <mat-menu #accountMenu="matMenu">
            <button mat-menu-item routerLink="/login" *ngIf="!isAuthenticated()">Login</button>
            <button mat-menu-item routerLink="/admin" [disabled]="!isAdmin()">Admin</button>
            <button mat-menu-item routerLink="/my-account" [disabled]="!isAuthenticated()">My Account</button>
            <button mat-menu-item (click)="onLogout()">Log Out</button>
        </mat-menu>

    </mat-toolbar>
</div>