<div class="container">
    <mat-card>
        <h1>API Documentation</h1>
        <h4>Base URL:</h4>
        <p>https://resume.flaresoftware.com/api/</p>

        <div class="apiSection">
            <h2>Projects</h2>
            <p>Description</p>
            <hr>
            <div class="endpoint">
                <h5>List all projects</h5>
                <p><strong>GET</strong> /projects</p>
                <h5>Gets a list of all projects directly from database in JSON format: message: string, projects: Array any</h5>
                <hr>
            </div>
        </div>
    </mat-card>
</div>