<div class="container">
    <mat-card>
        <h1>API Documentation</h1>
        <h4>Base URL:</h4>
        <p>{{ baseURL }}</p>

        <mat-spinner *ngIf="isLoading" diameter="40" class="seashell-spinner center"></mat-spinner>

        <div class="apiSection" *ngFor="let api of apiData">
            <h2>{{ api.sectionName }}</h2>
            <p>{{ api.sectionDescription }}</p>
            <hr>
            <div class="endpoint" *ngFor="let endpoint of api.endpoints">
                <h5>{{ endpoint.summary }}</h5>
                <p><strong [endpoint]="endpoint" [style.color]="getMethodColor(endpoint)">{{ endpoint.method }}</strong> {{ endpoint.endpoint }}</p>
                <h5 class="grey">{{ endpoint.description }}</h5>
            </div>
        </div>
    </mat-card>
</div>