<button class="container" (click)="onProjectClick()">
  <div class="image">
    <img [src]="project.thumbnail" alt=" " width="60" height="60" />
  </div>
  <div class="details">
    <p class="projTitle"><strong>{{ project.title }}</strong></p>
    <p class="date">{{ project.dateCreated }}</p>
    <div class="detailsImages">
      <img *ngFor="let tech of project.technologies" [src]="tech.src" alt=" " width="15" height="15" />
    </div>
    <p class="projSubtitle">{{ project.subtitle }}</p>
  </div>
</button>