<button class="container" (click)="onProjectClick()">
  <div class="image">
    <img src="" width="60" height="60" />
  </div>
  <div class="details">
    <p class="projTitle"><strong>Project 1</strong></p>
    <p class="date">12/05/1995</p>
    <div class="detailsImages">
      <img src="" width="15" height="15" />
      <img src="" width="15" height="15" />
      <img src="" width="15" height="15" />
    </div>
    <p class="projSubtitle">
      The coolest project ever adsf asd fasdf asdf asdf asdf safasdf asdf asdf
      asdf asdf .
    </p>
  </div>
</button>
