.container {
    margin: 0px;
    padding: 0px;
    width: 275px;
    height: 100px;
    display: flex;
    background-color: #242424;
    border: 1px solid #3f3f3f;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.image img {
    border: solid 1px #111111;
    border-radius: 50%;
    margin: 16px 12px 0px 12px;
}

.details {
    text-align: left;
    color: #d4d4d4;
    padding-top: 16px;
    opacity: 0.75;
    transition: 0.15s;
}

.details:hover {
    opacity: 1.0;
}

p {
    padding: 0;
    margin: 0;
    width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.projTitle {
    font-size: 11pt;
    padding-bottom: 2px;
}

.date {
    font-size: 7pt;
    padding-bottom: 6px;
}

.projSubtitle {
    font-size: 8pt;
    padding-top: 6px;
}

.detailsImages {
    display: flex;
}

.details img {
    margin-right: 5px;
    filter: grayscale(100%);
}