.container {
    margin: 25px 18px 5px 18px;
}

.content {
    width: 100%;
    min-height: 250px;
    display: flex;
}

.leftSide {
    background-size: cover;
    flex-grow: 1;
    max-width: 50%;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    margin-right: 15px;
    cursor: pointer;
}

.rightSide {
    padding-left: 15px;
    border-left: 1px dashed #8a8a8a;
    flex-grow: 1;
    max-width: 50%;
}

h1 {
    padding: 0;
    margin: 0;
    color: #1b1b1b;
}

h4 {
    margin: 0;
    padding: 0;
    color: #272727;
}

img {
    margin: 10px 5px 5px 0px;
}

.description {
    width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 450px) {
    .leftSide {
        display: none;
    }
    .rightSide {
        max-width: 100%;
        border-left: none;
    }
}