.container {
  height: 100vh;
  width: 100vw;
  background-color: plum;
  display: flex;
  flex-direction: column;
}

app-header {
}

.flexContainer {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

app-side-panel {
  flex: 0 275px;
  background-color: #212121;
}

app-search-bar {
  background-color: yellow;
}
app-technologies-bar {
  width: 100%;
  background-color: red;
}
