.container {
    position: fixed;
    width: 275px;
    height: 100%;
    background-color: #242424;
    color: #bcbcbc;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

h1 {
    color: #242424;
}

h4 {
    background-color: #303030;
    color: #aaaaaa;
    padding: 8px 0px 5px 15px;
    font-size: 10.5pt;
    margin: 0;
    font-weight: normal;
}