.container {
    position: fixed;
    width: 275px;
    height: 100%;
    top: 60px;
    background-color: #242424;
    color: #bcbcbc
}

h4 {
    background-color: #303030;
    color: #aaaaaa;
    padding: 8px 0px 5px 15px;
    font-size: 10.5pt;
    margin: 0;
    font-weight: normal;
}