<button mat-button color="primary" routerLink="/">The Archive</button>
<a mat-button color="primary" routerLink="/api">API Docs</a>
<a mat-button color="primary" href="https://github.com/theclayton/the-archive" target="_blank">Source Code</a>

<div class="loginWrapper">

    <div class="loginSection">
        <mat-card>
            <h1 mat-dialog-title>{{ formTitle }}</h1>
            <form [formGroup]="loginForm">

                <mat-form-field>
                    <input matInput formControlName="email" type="text" placeholder="email@example.com">
                    <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" class="helpBlock">Please enter a valid email.</span>
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="password" type="password" placeholder="password">
                    <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="helpBlock">Please enter a password.</span>
                </mat-form-field>


                <button mat-raised-button class="white" color="primary" [disabled]="isLoading" (click)="onLogin()"><mat-spinner *ngIf="isLoading" diameter="20" class="seashell-spinner"></mat-spinner>Login</button>
                <!-- <button mat-button color="primary" (click)="onCreateAccount()">Create an account</button> -->
                <p *ngIf="loginError" class="helpBlock">{{ loginErrorText }}</p>
            </form>
        </mat-card>
    </div>
</div>