.mainContent {
    margin: 60px 0px 50px 275px;
}

h1,
h2 {
    text-align: center;
}

@media (max-width: 765px) {
    app-side-panel {
        display: none;
    }
    .mainContent {
        margin: 60px 0px 50px 0px;
    }
}