.container {
    height: 100vh;
    background-color: #fff5ee;
}

.content {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding: 10px;
    border-bottom: 1px dashed #3f3f3f;
}