<div class="container" *ngIf="isAdmin()">
    <h3>Edit Project</h3>
    <mat-card>
        <form [formGroup]="projectForm">

            <mat-form-field>
                <input matInput formControlName="title" type="text" placeholder="title">
                <span *ngIf="!projectForm.get('title').valid && projectForm.get('title').touched" class="helpBlock">Please enter a valid and unique name.</span>
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="subtitle" type="text" placeholder="subtitle">
                <span *ngIf="!projectForm.get('subtitle').valid && projectForm.get('subtitle').touched" class="helpBlock">Please enter a subtitle</span>
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="category" type="text" placeholder="category">
                <span *ngIf="!projectForm.get('category').valid && projectForm.get('category').touched" class="helpBlock">Please enter a category.</span>
            </mat-form-field>

            <section class="featured-section">
                <mat-checkbox [checked]='isFeatured' color='primary' (change)="checkboxChanged()">
                    Set as Featured
                </mat-checkbox>
            </section>

            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput type="text" formControlName="description" [value]="description" cdkTextareaAutosize cdkAutosizeMinRows="7"></textarea>
                <span *ngIf="!projectForm.get('description').valid && projectForm.get('description').touched" class="helpBlock">Please enter a description of the project.</span>
            </mat-form-field>


            <mat-form-field>
                <mat-label>Please enter the project development date</mat-label>
                <input matInput [matDatepicker]="dateCreated" formControlName="dateCreated" placeholder="Date Created">
                <mat-datepicker-toggle matSuffix [for]="dateCreated"></mat-datepicker-toggle>
                <mat-datepicker #dateCreated></mat-datepicker>
            </mat-form-field>

            <h3>Upload a thumbnail</h3>
            <div class="thumbnail">
                <img src="{{ thumbnail }}" alt="thumbnail" height="60" width="60">
                <input type="file" name="file" (change)="onUploadThumbnail($event)" class="uploadFile" />
                <button mat-raised-button color="primary" (click)="onUploadThumbnailClicked()">Upload</button>
                <p>(60px x 60px)</p>
            </div>



            <h3>Links ( name, type, url )</h3>
            <div class="links">
                <div class="link">
                    <input type="text" name="file" value="name" />
                    <input type="text" name="file" value="type" />
                    <input type="text" name="file" value="url" />
                    <button>Remove</button>
                </div>

                <br><button>Add</button>
            </div>





            <h3>technologies ( name, src/upload )</h3>
            <!-- Make a list of all techs as follows -->
            <img src="" alt="" width="40" height="40">
            <input type="text" name="file" value="name" />
            <button>Remove</button>

            <br><button>Add Technology</button>
            <p>Drop down to choose from...</p>
            <div class="newTech">
                <img src="{{ newTech }}" alt=" " height="40" width="40">
                <input type="file" name="file" (change)="onUploadNewTech($event)" class="uploadFile" />
                <button mat-raised-button color="primary" (click)="onUploadNewTechClicked()">Upload New</button>
                <p>(40px x 40px)</p>
            </div>



            <h3>Images ( name, src/upload, caption, height, width )</h3>
            <img src="" alt="" width="40" height="40">
            <input type="text" name="file" value="caption" />
            <input type="text" name="file" value="display height" />
            <input type="text" name="file" value="dispaly width" />
            <button>Remove</button>
            <br><button>Add</button>
            <br>
            <div class="newImage">
                <img src="{{ newImage }}" alt=" " width="100">
                <input type="file" name="file" (change)="onUploadNewImage($event)" class="uploadFile" />
                <button mat-raised-button color="primary" (click)="onUploadNewImageClicked()">Upload Image</button>
            </div>
            <br>

            <button mat-button color="primary" (click)="onSaveProject()">Cancel</button>
            <button mat-raised-button class="white" color="primary" (click)="onSaveProject()">Save</button>
            <button mat-raised-button class="white" color="warn" (click)="onDeleteProject()">Delete</button>

        </form>
    </mat-card>
</div>