.container {
    margin: 15px;
}

.white {
    color: white;
}

button {
    margin: 15px 5px;
}

.seashell {
    color: #fff5ee;
}

.helpBlock {
    font-size: 10pt;
    color: #f40000;
}

mat-form-field {
    width: 100%;
}

.textOffset {
    text-indent: 25px;
}

mat-spinner {
    display: inline-block;
    margin-right: 9px;
    margin-left: -4px;
}

.featured-section {
    padding: 5px 10px 25px 10px;
}

:host ::ng-deep .seashell-spinner circle {
    stroke: #fff5ee;
}