<div class="container" *ngIf="isAdmin()">
    <h3>Edit Project</h3>
    <mat-card>
        <form [formGroup]="projectForm">

            <mat-form-field>
                <input matInput formControlName="title" type="text" placeholder="title">
                <span *ngIf="!projectForm.get('title').valid && projectForm.get('title').touched" class="helpBlock">Please enter a valid and unique name.</span>
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="subtitle" type="text" placeholder="subtitle">
                <span *ngIf="!projectForm.get('subtitle').valid && projectForm.get('subtitle').touched" class="helpBlock">Please enter a subtitle</span>
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="category" type="text" placeholder="category">
                <span *ngIf="!projectForm.get('category').valid && projectForm.get('category').touched" class="helpBlock">Please enter a category.</span>
            </mat-form-field>

            <section class="featured-section">
                <mat-checkbox [checked]='isFeatured' color='primary' (change)="checkboxChanged()">
                    Set as Featured
                </mat-checkbox>
            </section>

            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput type="text" formControlName="description" [value]="description" cdkTextareaAutosize cdkAutosizeMinRows="7"></textarea>
                <span *ngIf="!projectForm.get('description').valid && projectForm.get('description').touched" class="helpBlock">Please enter a description of the project.</span>
            </mat-form-field>


            <mat-form-field>
                <mat-label>Please enter the project development date</mat-label>
                <input matInput [matDatepicker]="dateCreated" formControlName="dateCreated" placeholder="Date Created">
                <mat-datepicker-toggle matSuffix [for]="dateCreated"></mat-datepicker-toggle>
                <mat-datepicker #dateCreated></mat-datepicker>
            </mat-form-field>


            <h2>Upload a thumbnail</h2>
            <div class="thumbnail">
                <img src="{{ thumbnail }}" alt="thumbnail" height="60" width="60">
                <input type="file" name="file" (change)="onUploadThumbnail($event)" class="uploadFile" />
                <button mat-raised-button color="primary" (click)="onUploadThumbnailClicked()">Upload</button>
                <p>(60px x 60px)</p>
            </div>


            <h2>Project Links</h2>
            <div class="links">
                <div *ngFor="let link of links.controls; index as i" class="link">
                    <ng-container [formGroup]="link">
                        <input formControlName="name" placeholder="Name" />
                        <input formControlName="type" placeholder="Type" />
                        <input formControlName="url" placeholder="URL" />
                        <button mat-mini-fab color="warn" (click)="onRemoveLink(i)"><mat-icon>delete</mat-icon></button>
                    </ng-container>
                </div>

                <button mat-raised-button color="primary" (click)="onAddLinkClicked()">Add Link</button>
            </div>


            <h2>technologies</h2>
            <div class="technologies">
                <div *ngFor="let tech of techs.controls; index as i" class="tech">
                    <ng-container [formGroup]="tech">
                        <input formControlName="name" placeholder="Name" />
                        <input formControlName="src" placeholder="SRC" class="grey" />
                        <button mat-mini-fab color="warn" (click)="onRemoveTech(i)"><mat-icon>delete</mat-icon></button>
                    </ng-container>
                </div>

                <mat-form-field>
                    <mat-label>Chose from Existing Technologies...</mat-label>
                    <mat-select formControlName="allTechnologiesSelect" (selectionChange)="onChoseExistingTech($event)">
                        <mat-option *ngFor="let allTechnology of allTechnologies" [value]="allTechnology">
                            {{allTechnology.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="newTech">
                    <img src="{{ newTech }}" alt=" " height="30" width="30">
                    <input type="file" name="file" (change)="onUploadNewTech($event)" class="uploadFile" />
                    <button mat-raised-button color="primary" (click)="onUploadNewTechClicked()">Upload New</button>
                    <p>(40px x 40px)</p>
                </div>
            </div>



            <h2>Images</h2>
            <div class="images">
                <div *ngFor="let image of images.controls; index as i" class="image">
                    <ng-container [formGroup]="image">
                        <input formControlName="name" placeholder="Name" />
                        <input formControlName="caption" placeholder="Caption" />
                        <input formControlName="height" placeholder="Height" class="short" />
                        <input formControlName="width" placeholder="Width" class="short" />
                        <input formControlName="src" placeholder="SRC" class="grey" />
                        <button mat-mini-fab color="warn" (click)="onRemoveImage(i)"><mat-icon>delete</mat-icon></button>
                    </ng-container>
                </div>

                <div class="newImage">
                    <img src="{{ newImage }}" alt=" " height="30" width="30">
                    <input type="file" name="file" (change)="onUploadNewImage($event)" class="uploadFile" />
                    <button mat-raised-button color="primary" (click)="onUploadNewImageClicked()">Upload Image</button>
                </div>
            </div>


            <button mat-button color="primary" (click)="onSaveProject()">Cancel</button>
            <button mat-raised-button class="white" color="primary" (click)="onSaveProject()">Save</button>
            <button mat-raised-button class="white" color="warn" (click)="onDeleteProject()">Delete</button>

        </form>
    </mat-card>
</div>