.container {
    width: 100%;
    background-color: #272727;
    display: flex;
}

h5 {
    padding: 0px 5px 3px 5px;
    margin: 0;
    color: #aaaaaa;
    align-self: center;
    font-weight: normal;
    font-size: 10.5pt;
}

button {
    border: none;
    background-color: transparent;
    margin: 3px 2px;
    cursor: pointer;
}

img {
    text-align: center;
    color: #c5c5c5;
    padding: 0;
    margin: 0;
}